In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [6]:
import seaborn as sns

In [4]:
df=pd.read_csv("CreditCardUsage.csv")

In [5]:
df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [7]:
df.shape

(8950, 18)

In [12]:
df.drop(columns="CUST_ID",inplace=True)

In [13]:
df.duplicated().sum()

0

In [14]:
df.isna().sum()

BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
TENURE                                0
dtype: int64

In [16]:
df["MINIMUM_PAYMENTS"].value_counts()

299.351881     2
3.197940       1
111.691332     1
129.682608     1
872.760983     1
144.896661     1
176.765922     1
140.596138     1
1666.085318    1
125.349400     1
5583.630482    1
342.412476     1
6825.442030    1
1927.887547    1
144.641814     1
284.706930     1
1078.106633    1
2473.447437    1
108.744838     1
2818.721047    1
237.824379     1
357.651724     1
191.111282     1
467.519551     1
539.543528     1
158.394845     1
267.051909     1
228.297707     1
262.137054     1
3232.760835    1
              ..
979.920602     1
197.837436     1
69.378949      1
178.035597     1
2045.063933    1
3959.316506    1
184.935623     1
166.887922     1
610.732047     1
105.042470     1
653.219376     1
331.451667     1
118.209566     1
344.973051     1
519.270488     1
65.250637      1
775.796181     1
390.202217     1
632.040291     1
422.134701     1
165.070133     1
449.179818     1
115.263984     1
363.926512     1
825.485459     1
1227.773229    1
127.210691     1
6422.472544    1
471.940554     1
189.459157     1
Name: MINIMUM_PAYMENTS, Length: 8636, dtype: int64

In [17]:
df.dropna(inplace=True)

In [19]:
from sklearn.cluster import KMeans

In [20]:
km=KMeans()

In [22]:
km.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [23]:
data=km.fit_transform(df)

In [31]:
plt.scatter(df[2],df[1])

KeyError: 2

In [32]:
import imblearn
imblearn.__version__

ModuleNotFoundError: No module named 'imblearn'